.vacioContainer {
    text-align: center;
}
.vacioContainer p {
    border: 1px solid;
    background-color: #40128B;
    border-radius: 20px;
    color: white;
    padding: .5rem;
    width: 10vw;
    margin: auto;
}
.cartItemContainer{
    text-align: center;
}
.btnVaciarCarrito {
    padding: .8rem 1.8rem;
    background-color: #0079FF;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    margin-top: 1rem;
}
.btnFinalizarCompra {
    padding: .8rem 1.8rem;
    background-color: #40128B;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    margin-top: 1rem;
}

@media (max-width:720px){
    .cartItemContainer {
        height: 50vh;
    }
    .vacioContainer p {
        width: 35vw;
    }
    .container-class {
        width: 100vw;
        position: absolute;
        top: .5rem;
    }
}
