.card {
    width: 250px;
    padding: 2rem;
    border: 1px solid;
    text-align: center;
    border-radius: 15px;
    background-color: #FFE79B;
}
.card img {
    width: 10rem;
}
.btn_detalles {
    padding: .8rem 1.3rem;
    background-color: #DD58D6;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.btn_detalles:hover {
    transform: scale(1.1);
    transition: 1s;
}