.home_container {
    display: grid;
    margin: auto;
    width: 98vw;
    height: 90vh;
    gap: .5rem;
    margin-top: .5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "malbec cabernet pinot"
                        "malbec chardonay blend";
}
.home_container p {
    color: white;
}

.home_container .box {
    font-size: 3rem;
    border: solid 2px;
    border-radius: 10px; 
    text-align: center;
}

.home_container .box:hover {
    transform: scale(1.01);
    transition: 1.1s;
}

.home_container .box button {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    margin: auto;
    width: 40%;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: solid 3px white;
}


.home_container .malbec {
    background-image: url(../../img/uvasmalbec.avif);
    background-position: center;
    background-position: center;
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_container .cabernet {
    background-image: url(../../img/vinodelicioso.avif);
    background-position: center;
    background-position: center;
    background-size: cover;
}

.home_container .chardonay {
    background-image: url(../../img/chardonayimg.avif);
    background-position: center;
    background-position: center;
    background-size: cover;
}

.home_container .pinot {
    background-image: url(../../img/botellacopa.avif);
    background-position: center;
    background-position: center;
    background-size: cover;
}

.home_container .blend {
    background-image: url(../../img/blendimg.avif);
    background-position: center;
    background-size: cover;
}

@media (max-width:860px) {
    .home_container {
        display: block;
        width: 95vw;
        gap: 1rem;
        margin-top: .5rem;
    }
    .home_container .box {
        font-size: 3rem;
        height: 35vh;
        border: solid 2px;
        border-radius: 10px;
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .home_container .box button {
        width: 60%;
    }
}