.header_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid;
}
.header_container nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-weight: bold;
}
